/* RESPONSIVE BACKGROUND IMAGE */
.bgimage {
	z-index: -100;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5;
}

#headerlogo2 {
	width: 10%;
	transform: scaleX(-1);
}

#landingPageHeader2 {
	font-family: 'ACME', cursive;
	font-size: 500%;
	margin-left: -5%;
}

#slogan {
	font-size: 200%;
	font-family: 'Kavivanar', cursive;
}

.buttonStuff {
	font-size: 150%;
	width: 30%;
	margin-bottom: 1%;
	font-family: 'ACME', cursive;
}

#topSection {
	margin-top: 5%;
}

#emailMe {
    margin-top: 3%;
}

#emailModalLabel {
	font-size: 200%;
	font-family: 'Acme', sans-serif;
}

.control-label {
	font-size: 125%;
	font-family: 'Acme', sans-serif;
}

#note {
	font-size: 115%;
	text-align: center;
	font-family: 'Acme', sans-serif;
}










/* RESPONSIVE QUERIES */
@media screen and (max-width: 992px) {
	#landingPageHeader2 {
        font-size: 200%;
    }

    #headerlogo2 {
        width: 35%;
	}
	
	#slogan {
		font-size: 100%;
	}
	.buttonStuff {
        width: 100% !important;
        font-size: 150% !important;
    }
}