body {
	height: 100%;
	padding-bottom: 70px;
}

html {
	height: 100%;
	position: relative;
}

h1 {
	font-family: 'Acme', sans-serif;
	font-size: 350%;
}

h5 {
	font-size: 100%;
}

#footerNavbar {
	background-color: green !important;
	height: 49px;
}

.bgimage {
	z-index: -100;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5;
}

#menuWord {
	font-size: 45px;
    margin-left: 5%;
}

#navbarlogo {
	width: 7%;
	margin-left: -2%;
}

#navbarSection {
	background-color: green;
}

.navbar-default, .navbar-brand, #showNameJobs{
	color: white !important;
	font-family: 'Acme', sans-serif;
}

#navbarTitle:hover {
	color: #5eb076;
}

#navbarTitle {
	font-size: 200%;
}

#title {
	font-family: 'Acme', sans-serif;
	font-size: 250%;
	margin-left: -40%;
}

.navbarLinks {
	color: white !important;
	font-family: 'Acme', sans-serif;
	font-size: 125%;
	border-left: 2px solid #5eb076;
}

.navbarLinks:hover {
	color: #5eb076 !important;
}

.navIcon:hover {
	color: #5eb076;
}

.navIcon {
	color: white;
	font-size: 350%;
}

.fa-github-square {
	margin-right: 1%;
}

#newPasswordSection {
	margin-top: 3%;
	padding-bottom: 70px;
}

#addHeader {
	text-align: center;
	font-family: 'Acme', sans-serif;
	color: green;
}

#buttonSection {
	padding-bottom: 100px;
}

.secQ {
	font-family: 'Acme', sans-serif;
	color: green;
	font-size: 125%;
	text-align: left !important;
}

.submitButtons {
	float: left;
}

.buttonStuff {
    font-size: 125%;
}

.messages {
	color: red;
}

#emailModalLabel {
	font-size: 200%;
	font-family: 'Acme', sans-serif;
}

.control-label {
	font-size: 125%;
	font-family: 'Acme', sans-serif;
}

#note {
	font-size: 115%;
	text-align: center;
	font-family: 'Acme', sans-serif;
}

#copyright {
	margin-top: 9%;
}

#copyrightWords {
	color: white;
}

#copyrightWords:hover {
	color: #5eb076;
}


/* For the tooltip pop-up for the Github and Email buttons at the bottom of the page*/
.fa-envelope-square,  {
    position: relative;
    display: inline-block;
}

.fa-envelope-square .tooltiptext {
	font-family: 'Acme', sans-serif;
    visibility: hidden;
	width: 175px;
	font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 17%;
    left: 51.5%;
	margin-left: 25px;
	margin-bottom: 2px;
}

.fa-envelope-square:hover .tooltiptext, .fa-github-square:hover .tooltiptext {
    visibility: visible;
}


.fa-github-square {
    position: relative;
    display: inline-block;
}

.fa-github-square .tooltiptext {
	font-family: 'Acme', sans-serif;
    visibility: hidden;
	width: 200px;
	font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 17%;
    left: 50%;
	margin-left: -220px;
	margin-bottom: 2px;
}
